body {
    font-family: 'Montserrat', ;
}

#title {
    background-color: black;
    color: #fff;
}
.logog
{
    max-width: 30px;
    color:#000;
}

h1 {
    font-family: "Sacramento",cursive;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h5{
    font-family: "Montserra",cursive;
    text-align: center;
    font-size: 1rem;
    text-align: right;
    position: relative;
    top:-20px;
    left :-370px;
}
.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Sacramento",cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2 rem;
    font-family: 'Montserrat-Light', ;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.titleimage {
    width: 30%;
    position: absolute;
   right: 30%;
   background-color: black;
}

#features {
    background-color:rgb(255, 255, 255) ;
    position: relative;
    padding: 5% 10%;
    z-index: 1;
    
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: "Montserrat-Bold", ;
    font-weight: 700;
}
.ach
{
    color:#fff;
    font-family: 'Montserrat-Bold', ;
    font-size: 2.4rem;
    line-height: 1.5;
    margin-left: 30px;
    text-align: left;
}
p {
    color: #8f8f8f;
    text-align: center;
}

.icon {
    text-align: center;
    color: black;
    margin-bottom: 1rem;
}

.icon:hover {
    color:rgb(46, 43, 43);
}


#testimonials {
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: #fff;

}

h2 {
    font-family: 'Montserrat-Bold', ;
    font-size: 3rem;
    line-height: 1.5;
    margin-left: -80px;
    color:#000
}

em {
    padding-left: 5px;

}

.java
{
   margin-top: -20px;
}
.network
{
    margin-bottom: 30px;
}
.ach-cont
{
    padding:7% 15%;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.testimonials-img {
    width: 8%;
    border-radius: 100%;
    margin-top: 16px;
   
    
}

#press {
    background-color: black;
    text-align: center;
    padding-bottom: 3%;

}

.press {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}
#pricing
{
    padding:100px;
}
.pricing-column 
{
    padding:3% 2%;
    text-align: center;
}
@media (max-width:1028px) 
{
    .titleimage 
    {
        position:static;
        transform: rotate(0);
    }
    h5{
        left:-90px;
    }
    
}
@media (max-width:1028px) 
{
#title {
    text-align: center;
}
.ach-cont
{
    padding-right: 5px;
    text-align: center;
}
.btn{
   padding:1px
}
}
#cta
{
    background-color: black;
    font-family: "Montserrat-Black",;
    font-size:5rem;
    text-align: center;
    color:#fff;
    padding-top: 10px;
    height: 200px;
    
}
#footer
{
    padding-top: 40px;
    text-align: center;
    
}
.logo
{
    color:black;
    margin-top: -5px;
    padding-bottom:6px;
}
.logo:hover{
    color:rgb(46, 43, 43);
}
.abt{
    text-align: left;
}
.btn{
    margin-top: 10px;
    margin-left: 100px;
    
    text-align: center;
}
